<% include ./partials/header %>
<div class="ui main text container segment">
     <div class="ui huge header"><%= director.name %></div>
     <div class="ui top attached ">
         <div class="item">
           <img  class="ui centered rounded image" src="<%= director.image %>" ><br/>
          <div class="item">
            <h4>Age : <%= director.age %></h4>
          </div>  
          <div class="item">
            <h4>Gender : <%= director.gender %></h4>
          </div>  
          <div class="item">
            <h4>Movies Directed : <%= director.movies_directed %></h4>
          </div> 
          <br>
        <a class="ui orange basic button" href="/directors/<%= director._id %>/edit">Edit</a>
        <form class=" delete" action="/directors/<%= director._id %>?_method=DELETE"  method= "POST">
          <button class="ui red basic button">DELETE</button>
        </form>
     </div>
       
</div>
<% include ./partials/footer %>